@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */
/*顶部1*/
.head{width:100%;}
.topHead{width:1000px;height:32px;margin: 0 auto;line-height:32px;}
.topHeadL{float:left;height:32px;}
.topHeadL h3{font-size:12px;background:url(../images/icons/sc.gif) left center no-repeat;text-indent:17px;}
.topHeadR{float:right;height:32px;}
.topHead a:hover{color:red;}
/*顶部2*/
.middleHead{background-color:#1D7AD9;width:100%;margin-bottom:12px;}
.middleH{height:85px;width:740px;margin: 0 auto;}
.middleH img{margin: 12px 0 0 0;float:left;width:120px;height:65px;}

.middleHead h3{float:left;height:85px;line-height:85px;font-size:24px;color:#FFFFFF;padding-left:20px;}
/*登录内容*/
.login{width:320px;height:356px;border:1px solid #E8E8E8;margin: 100px auto;padding-top:40px;padding:40px 64px 0  80px;font-size:14px;position:relative;}
.login .login_content{padding-bottom:28px;}
.login .login_content ul{color:#999999;}
.login .login_content ul input{padding-left:4px;width:300px;height:32px;border:1px solid #CCCCCC;margin-top:4px;font-size:14px;}
.login .login_content .log_name{margin-bottom:12px;background:url(../images/jpgs/%E7%99%BB%E5%BD%95%E6%B3%A8%E5%86%8C/inputname.gif) right center no-repeat;}
.login .login_content .pass{background:url(../images/jpgs/%E7%99%BB%E5%BD%95%E6%B3%A8%E5%86%8C/loginpassword.gif) right center no-repeat;}
.login .login_select{font-size:12px;}
.login .login_select input{margin-right:4px;vertical-align:middle;}
.login .login_select a:hover{text-decoration:underline;}
.login .login_select .log_btn{width:309px;height:35px;background:url(../images/jpgs/%E7%99%BB%E5%BD%95%E6%B3%A8%E5%86%8C/logbtn.gif);margin:32px 0 35px 0;cursor:pointer;}
.login .cooper h5{color:#999999;font-weight:400;padding-bottom:8px;}
.login .cooper ul li{float:left;font-size:12px;}
.login .cooper ul li a{margin:0 3px 0 3px;}
.login .cooper ul li a:hover{text-decoration:underline;}
.login .cooper ul li span{color:#DBDBDB;}
.login .cooper ul li a .cooper_more{background:url(../images/jpgs/%E7%99%BB%E5%BD%95%E6%B3%A8%E5%86%8C/cooper_more.gif) right center no-repeat;width:9px;height:8px;display:inline-block;}
.free{position:absolute;bottom:-30px;left:303px;}