@charset "utf-8";
/* CSS Document */
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input,a{margin:0;padding:0;}
body{font-size:12px;background-color:white;}
img{border:none;}
li{list-style:none;}
input,select,textarea,button{outline:none;background-color:white;}
textarea{resize:none;}
a{text-decoration:none;color:black;}
li{list-style:none;}
img{border:none;}
.fl{float:left;}
.fr{float:right;}
input{border:none;}
